[viewBag]

[staticMenu mainMenu]
code = "main-menu"

==
<section class="wrapper-navbar">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light bg-white py-4">
        <div class="container">
            <a class="navbar-brand text-uppercase mr-5" href="{{ 'home'|page }}">Sally</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <div class="navbar-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'home'|page }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Github</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class=" mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn-search" type="submit">
                       <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</section>

{% put scripts %}
<script>
    $(window).scroll(function () {
        let scroll = $(window).scrollTop();
        if (scroll >= 100) {
            $('.list-category').addClass('fixed-top');
            $('.list-category').removeClass('position-relative');
        } else {
            $('.list-category').addClass('position-relative');
            $('.list-category').removeClass('fixed-top');
        }
    })
</script>

<script>
    $(document).ready(function () {
        $('.navbar-toggler').click(function () {
            $('.navbar-icon').toggleClass('change');
        })
    })
</script>

<script>

    $(document).ready(function () {
        let toggle = true;
        $('.see-more').click(function () {
            $('.more-category').toggleClass('d-block');
        })
    });

</script>
{% endput %}