//
// Custom buttons
//
// Use bootstrap mixins. Example:
//
// @mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%))
//
// @mixin button-outline-variant($color, $color-hover: #fff)
//

.btn {
    font-size: 0.9rem;
    padding: 0.375rem 1.5rem;
}

//
// Button Outline
//


.btn-outline-black {
    @include button-outline-variant(#000);
}

.btn-outline-white {
    @include button-outline-variant(#fff, #000);
}

.btn-outline-primary {
    @include button-outline-variant($soft-blue, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $primary;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-red {
    @include button-outline-variant($soft-red, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $soft-red;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-yellow {
    @include button-outline-variant($pastel-yellow, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $pastel-yellow;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-green {
    @include button-outline-variant($pastel-green, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $pastel-green;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-light-green {
    @include button-outline-variant($light-green, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $light-green;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-orange {
    @include button-outline-variant($orange-zest, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $orange-zest;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-deep-gray {
    @include button-outline-variant($deep-gray, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $deep-gray;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-black {
    @include button-outline-variant($black, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $black;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-pink {
    @include button-outline-variant($pink-heliotrope, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $pink-heliotrope;
        transition: all ease-in-out .2s;
    }
}

.btn-outline-gray {
    @include button-outline-variant($dark-gray, $white);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover::after {
        bottom: 0px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $dark-gray;
        transition: all ease-in-out .2s;
    }
}

//
// Button Default
//

.btn-red {
    background-color: $soft-red;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $soft-red, $amount: 10)
    }
    &:hover {
        background-color: darken($color:  $soft-red, $amount: 30);
    }
}

.btn-yellow {
    background-color: $pastel-yellow;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $pastel-yellow, $amount: 10);
    }
    &:hover {
        background-color: darken($color:  $pastel-yellow, $amount: 10);
    }
}


.btn-green {
    background-color: $pastel-green;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $pastel-green, $amount: 10);
    }
    &:hover {
        background-color: darken($color:  $pastel-green, $amount: 10);
    }
}

.btn-light-green {
    background-color: $light-green;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $light-green, $amount: 10);
    }
    &:hover {
        background-color: darken($color:  $light-green, $amount: 10);
    }
}


.btn-orange {
    background-color: $orange-zest;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $orange-zest, $amount: 10);
    }
    &:hover {
        background-color: darken($color: $orange-zest, $amount: 10);
    }
}

.btn-deep-gray {
    background-color: $deep-gray;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $deep-gray, $amount: 10);
    }
    &:hover {
        background-color: darken($color: $deep-gray, $amount: 10);
    }
}

.btn-black {
    background-color: $black;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $black, $amount: 20);
    }
    &:hover {
        background-color: darken($color: $black, $amount: 10);
    }
}

.btn-pink {
    background-color: $pink-heliotrope;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $pink-heliotrope, $amount: 20);
    }
    &:hover {
        background-color: darken($color: $pink-heliotrope, $amount: 20);
    }
}


.btn-gray {
    background-color: $dark-gray;
    color: $white;
    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $dark-gray, $amount: 20);
    }
    &:hover {
        background-color: darken($color: $dark-gray, $amount: 20);
    }
}