.input-container {
    position: relative;
    input.input-form {
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 3px;
        outline: none;
        border: 1px solid $gray-400;
        transition: all ease-in-out .2s;
        
        &:hover {
            border: 1px solid $primary;
        }

        &:focus {
            border: 1px solid $primary;
            box-shadow: 0px 0px 0px 2px lighten($color: $primary, $amount: 20);
        }
        
        &:hover ~ .label-top, &:focus ~ .label-top, &:valid ~ .label-top {
            font-size: 12px;
            top: -8px;
            left: 10px;
        }
        
    }

    input.input-gray {
        background-color: $gray-300;
    }

    input.input-icon {
        padding: 10px 43px;

        &:hover, &:focus {
            &+i {
                color: $primary;
            }
        }
    }

    i {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 16px;
        color: $gray-400;
    }

    label.label-top {
        color: $gray-400;
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    label.label-gray {
        color: $gray-400;
    }

    .label-top {
        position: absolute;
        top: 10px;
        left: 15px;
        background-color: $white;
        transition: all ease-in-out .2s;
    }

    .switch {
        width: 50px;
        height: 31px;
        border-radius: 20px;
        background-color: $gray-400;
        outline: none;
        transition: all ease-in-out .2s;
        @include web-appereance;

        &:checked {
            background-color: $light-green;
        }

        &:checked::after {
            left: 23px;
            transition: all ease-in-out .2s
        }

        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 23px;
            height: 23px;
            background-color: white;
            border-radius: 50%;
            transition: all ease-in-out 0.2s;       
        }

        &-red {
            background-color: $soft-red;
            width: 50px;
            height: 31px;
            border-radius: 20px;
            // background-color: $gray-400;
            outline: none;
            transition: all ease-in-out .2s;
            @include web-appereance;
    
            &:checked {
                background-color: $light-green;
            }
    
            &:checked::after {
                left: 23px;
                transition: all ease-in-out .2s
            }
    
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                width: 23px;
                height: 23px;
                background-color: white;
                border-radius: 50%;
                transition: all ease-in-out 0.2s;       
            }
        }
    }
}


//form

.card-wrapper {
    position: relative;

    .card-login {
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
        border: 0px;
        background-color: $white;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 10%;
            z-index: -1;
            width: 80%;
            height: 30px;
            box-shadow: 0px 0px 30px 0px lighten($color: $black, $amount: 60);
        }

        button {
            width: 150px;
        }
    }
}


// .hover-animation {
//     position: relative;
//     overflow: hidden;
//     &::after {
//         content: '';
//         width: 90%;
//         height: 100%;
//         background-color: 
//     }
// }
