// 
// Load all required stylesheets
// 

@import '_all';
 
//
// Your app styles  
//

body {
    padding-top: 56px; 
    background-color: $gray-100;
} 
     
.bg-red {
    background-color: $soft-red; 
}